body {
    font-family: caption;
    background-image: url('11.jpg');
    background-size: cover;
    /* overlay: 0.5; */
}

.full-screen-image {
    width: 100%;      
    height: auto;     
    max-width: 100%;  
    object-fit: cover; 
    object-position: center; 
}

