body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: caption;
    background-image: url('11.jpg');
    background-size: cover;
    /* overlay: 0.5; */
}

.full-screen-container {
    width: 100%;
    height: 100vh;         
    background-image: url('10draf1.jpg');  
    background-size: 100% auto;  
    background-position: center;  
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    .full-screen-container {
        width: 100%;
        height: 100vh;   
        background-image: url('10draf1.jpg');  
        background-size: 100% auto;  
        background-position: center;  
        background-repeat: no-repeat; 
        background-attachment: fixed; 
    }
}


.part2, .part3 {
    text-align: center;
}

.part2 h2 {
    font-family: 'Times New Roman', serif;
    margin-top: 50px;
    font-size: 25px;
    color: darkred;
    
}

.part2 h1 {
    font-family: "Lucida Handwriting", cursive;
    margin: 50px;
    font-size: 60px;
}

.part2 h4, .map-name h4 {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    margin-top: 40px;
}

.part2 p {
    margin-top: 30px;
}

.part3 h2 {
    font-family: 'Times New Roman', serif;
    margin-top: 50px;
    font-size: 25px;
    color: darkred;
}

.part3 h4 {
    font-family: "Courier New", Courier, monospace;
    font-size: 17px;
    margin-top: 40px;
}

.countdown {
    text-align: center;
    padding: 40px;
}

#timer {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 4em;
}

#timer p {
    background-color: #e09bae;
    color: #ffffff;
    padding: 50px 100px;
    border-radius: 50px;
}

#timer p span {
    font-size: 0.5em;
    padding-left: 10px;
}