body {
    font-family: caption;
    background-image: url('11.jpg');
    background-size: cover;
    /* overlay: 0.5; */
}

.full-screen-image {
    width: 100vh;      /* ทำให้กว้างเต็มหน้าจอ */
    height: auto;    /* ทำให้สูงเต็มหน้าจอ */
    object-fit: cover; /* ปรับขนาดให้พอดีกับพื้นที่ */
    object-position: center; /* จัดให้อยู่ตรงกลาง */
    display: block;   /* ป้องกันช่องว่าง */
    margin: 0;         /* ป้องกันการมีช่องว่างรอบๆ */
}

@media (max-width: 768px) {
    .full-screen-image {
        width: 100vh;    /* ทำให้กว้างเต็มหน้าจอ */
        height: auto;   /* ทำให้สูงเต็มหน้าจอ */
        object-fit: contain; /* หรือ contain ขึ้นอยู่กับลักษณะของภาพ */
    }
}

